@using Main.BookStore.Enums
@model BookModel
@{
    //ViewData["Title"] = "Home";
    var data = ViewBag.Data;

    var bookData = ViewData["bookModel"] as BookModel;  // have to caste ViewData Property into BookModel obj, else it will give error during compile time
}

<section class="jumbotron text-center">
    <div class="container">

        @*
        <environment include="Development"> <h1>Development included</h1></environment>
        <environment exclude="Development"> <h1>Development Excluded</h1></environment>  
        <environment include="Production, Staging"> <h1>Production</h1></environment>
         *@ 
        <h1> Welcome to BookStore </h1>
        <br />
        <h1>@data.id + @data.name</h1>
        <h1>ViewData Attribute + @ViewData["CustomProperty"]</h1>
        <h2>Complex Data: @bookData.Id + @bookData.Title</h2>
        <p class="lead text-muted">
            This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        </p>
        <p>
            <a herf="#" class="btn btn-primary my-2">Search Book</a>
        </p>

    </div>


</section>
<div class="py-5 bg-light">
    <div class="container">
        @*<h3 class="h3">Top books</h3>*@

       @* @await Component.InvokeAsync("TopBooks")*@

        <big>Top books</big>
        <vc:top-books></vc:top-books>
         
        
    </div>
</div>
 
@section scripts{

    <script>
        $(document).ready(function () {
          
        });
    </script>
}